@import "../mixins/reset-css";

/********** Mixin **********/

/* reset-css */
@include reset-css;

/********** Variables **********/

$main-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;


/********** Code **********/

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', serif;
}

p {
    font-family: 'Shrikhand', serif;
}