// HEADER
.header {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: space-between;

  &__arrow {
    display: none;
    width: 30px;
    height: 30px;
    padding-left: 17px;
  }

  &__logo {
    width: 180px;
    height: 50px;
    margin: 0 auto;
    padding: 20px;
  }
}

.location {
  display: flex;
  background: #eaeaea;
  justify-content: center;
  align-items: center;
  height: 50px;

  &__icon {
    height: 19px;
  }

  &__search {
    background: transparent;
    border: none;
    font-size: 16px;
    width: 150px;

    &::placeholder {
      color: #353535;
      opacity: 1;
      text-align: center;
      font-weight: 600;
      font-size: 15px;
    }
  }
}

// INTRODUCTION

.introduction {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  height: auto;
  align-items: center;
  gap: 20px;

  &__titre {
    padding-top: 39px;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
  }

  &__blabla {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: #353535;
  }

  &__btn {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 16px 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 48px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    transition: background-image 0.2s, box-shadow 0.2s;

    &:focus {
      background-image: linear-gradient(
        193deg,
        #a681e3 -11.44%,
        #ff96e6 123.93%
      );
      box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.3);
    }
  }
}

// FONCTIONEMENT

.functioning {
  display: flex;
  flex-direction: column;
  background: white;
  height: 470px;
  padding: 0 20px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 48px;
    padding-bottom: 30px;
  }

  &__tuto {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 0 20px;

    &--slide {
      display: flex;
      border-radius: 20px;
      background: #f6f6f6;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      padding-top: 27px;
      padding-bottom: 27px;
      line-height: normal;
      min-width: 260px;
    }
  }
}

.slide__number {
  display: flex;
  width: 24px;
  height: 24px;
  font-size: 14px;
  flex-shrink: 0;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  right: 13px;
}

.slide__icon {
  padding-right: 27px;
  padding-left: 10px;
}

.slide__txt {
  font-size: 16px;
  font-weight: 600;
}

// RESTAURANT

.restoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  height: 100%;
  padding: 0 18px;
  gap: 20px;

  &__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 54px;
  }

  &__container {
    position: relative;
    max-width: 500px;
    min-width: 260px;

    &--emptyheart {
      position: absolute;
      left: 86%;
      top: 78%;

      &:focus {
        border: 3px red solid;
        opacity: 0;
      }
    }

    &--fullheart {
      position: absolute;
      left: 86%;
      top: 78%;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.5s;

      &:focus {
        opacity: 1;
        outline: none;
      }
    }
    &__space {
      display: flex;
      position: relative;
    }
  }

  &__card {
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    height: 250px;
    overflow: hidden;
    width: auto;
    min-width: 260px;
    max-width: 500px;

    &--new {
      display: grid;
      width: 80px;
      height: 29px;
      place-items: center;
      font-weight: 600;
      font-size: 15px;
      flex-shrink: 0;
      border-radius: 2px;
      background: #99e2d0;
      color: #008766;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      top: 5%;
      left: 72%;
    }

    &--img {
      height: 70%;
      object-fit: cover;
    }

    &--title {
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-left: 16px;
      padding-top: 15px;
    }

    &--txt {
      font-size: 16px;
      font-weight: 300;
      line-height: normal;
      padding-left: 16px;
      padding-top: 5px;
    }
  }
}

// footer
.footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  padding: 22px 25px;
  gap: 10px;
  margin-top: 50px;

  &__logo {
    width: 100px;
    padding-bottom: 10px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--small {
      display: flex;
      gap: 10px;
    }
  }
}

@media all and (min-width: 540px) {
  .header {
    height: 100px;
  }

  .introduction {
    gap: 35px;
    &__titre {
      font-size: 40px;
    }

    &__btn {
      margin-top: 0;
    }
  }

  .functioning {
    margin: 0 auto;
    align-items: center;

    &__tuto {
      &--slide {
        width: 322px;
      }
    }
  }

  .restoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .restaurant {
    align-items: center;

    &__card {
      width: auto;
      min-width: 260px;
      width: 490px;
      max-width: 500px;

      &--new {
        left: 80%;
      }
    }

    &__container {
      &--emptyheart {
        left: 89%;
      }

      &--fullheart {
        left: 89%;
      }
    }
  }
}

@media all and (min-width: 1415px) {
  .introduction {
    &__btn {
      &:hover {
        background-image: linear-gradient(
          193deg,
          #a681e3 -11.44%,
          #ff96e6 123.93%
        );
        box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .functioning {
    padding: 50px 180px;
    align-items: flex-start;
    height: auto;

    &__title {
      padding-top: 0px;
      padding-left: 10px;
    }

    &__tuto {
      flex-direction: row;
    }
  }

  .restaurant {
    align-items: flex-start;
    padding-bottom: 30px;

    &__title {
      padding-left: 171px;
      padding-top: 30px;
    }

    &__space {
    }
  }

  .footer {
    margin: 0;
    flex-direction: row-reverse;
    padding-top: 60px;
    padding-bottom: 20px;

    &__logo {
      padding-left: 100px;
      padding-right: 50px;
    }

    &__container {
      flex-direction: row;
    }

    &__mention {
      padding-left: 40px;
    }
  }
}
