// main-pages
.main-pages {
  display: flex;
  flex-direction: column;
  background: white;
  &__container-img {
    position: relative;
    height: 243px;
    width: 100%;
  }

  &__img {
    position: absolute;
    height: 275px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

// container-pages
.container-pages {
  display: flex;
  position: relative;
  flex-direction: column;
  background: $bg-main;
  border-radius: 32px 32px 0 0;
  flex-shrink: 0;
  padding: 0 15px;
  gap: 45px;
  z-index: 1;
  // container-pages__name
  &__name {
    margin-top: 32px;
    &--titre {
      display: flex;
      position: relative;
      font-size: 28px;
      font-family: $title-text;
      width: 320px;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      // dans le html, les svg sont à l'intérieur de cette balise
      // pour prévenir le comportement des hearts
    }

    &--emptyheart {
      @include emptyheart;
      right: 0;
    }

    &--fullheart {
      @include fullheart;
      right: 0;
    }
  }

  //container-pages__menu
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &--title {
      margin-bottom: 8px;
    }
    &--title-border {
      padding-bottom: 4px;
      border-bottom: solid 3px #99e2d0;
    }

    &--cards {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  //container-pages__btn
  &__btn {
    width: 186px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
}

// pourrait logiquement aussi s'appeller "container-pages__menu--card", mais .card
// permet d'utiliser la profondeur de scss.
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: white;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 634px;

  //animation
  @for $i from 2 through 5 {
    &:nth-child(#{$i}) {
      animation: ease-in-out 0.6s cardAnimation;
      animation-delay: $i * 0.1s;
      animation-fill-mode: both;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 63%;
    padding-left: 10px;
    &--dish {
      white-space: nowrap;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &--txt {
      position: relative;
      flex-direction: column;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__checkbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

  }

  &__price {
    display: flex;
    align-items: end;
    transform: translateX(60px);
    transition: transform 0.4s;

    .card__checkbox:checked + & {
      transform: translateX(0);
    }
    &--euro {
      font-weight: 700;
      line-height: normal;
      color: #353535;
      margin-bottom: 13px;
      margin-right: 10px;
    }
  }
}

@media all and (min-width: 700px) {
  .container-pages {
    align-items: center;
    &__name {
      margin-top: 51px;
    }
  }

  .card {
    width: 634px;
  }
}

@media all and (min-width: 1100px) {
  .main-pages {
    align-items: center;
    &__container-img {
      height: 368px;
    }

    &__img {
      height: 400px;
    }
  }

  .container-pages {
    width: 1055px;
  }
}
