@import "../mixins/reset-css";

/********** Mixin **********/

/* reset-css */
@include reset-css;

/********** Variables **********/



/********** Code **********/

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', serif;
}

p {
    font-family: 'Shrikhand', serif;
}

a {
    background: #000;
}