@mixin fullheart {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;

  &:focus {
    opacity: 1;
    outline: none;
  }
}
