/********** Mixin **********/
@import "./abstracts/mixins";

/********** Variables **********/
@import "./abstracts/variables";

/********** base **********/
@import "./base/reset-css";
@import "./base/typography";

/********** Components **********/
@import "./components/buttons";
@import "./components/emptyheart";
@import "./components/fullheart";

/********** layout **********/
@import "./layout/header";
@import "./layout/footer";
@import "./layout/animations";

/********** pages **********/
@import "./pages/scss/index";
@import "./pages/scss/restaurant";

/********** Code **********/

body {
  background-color: white;
  font-family: $main-text;
  max-width: 1410px;
  margin: 0 auto;
}