/********** Mixin **********/
/********** Variables **********/
/********** base **********/
/***** reset-css *****/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********** Components **********/
.btn {
  text-align: center;
  line-height: 0;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 16px 20px;
  border: none;
  height: 50px;
  width: 218px;
  margin-top: 10px;
  margin-bottom: 48px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  transition: 0.5s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.btn:focus {
  transform: scale(1.02);
  background-image: linear-gradient(193deg, #a681e3 -11.44%, #ff96e6 123.93%);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  transform: scale(1.02);
  background-image: linear-gradient(193deg, #a681e3 -11.44%, #ff96e6 123.93%);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.3);
}

@media all and (min-width: 540px) {
  .btn {
    margin-top: 0;
  }
}
/********** layout **********/
.header {
  display: flex;
  height: 63px;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.header__arrow {
  width: 20px;
  height: 20px;
  padding-left: 30px;
  outline: none;
}
.header__arrow--invisible {
  display: none;
}
.header__logo {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  padding: 20px;
}

@media all and (min-width: 1100px) {
  .header {
    height: 100px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  padding: 22px 25px;
  gap: 10px;
}
.footer__logo {
  width: 100px;
  padding-bottom: 10px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__container--small {
  display: flex;
  gap: 10px;
}
.footer__contact {
  -webkit-tap-highlight-color: transparent;
}

@media all and (min-width: 1100px) {
  .footer {
    margin: 0;
    flex-direction: row-reverse;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .footer__logo {
    padding-left: 100px;
    padding-right: 50px;
  }
  .footer__container {
    flex-direction: row;
  }
  .footer__mention {
    padding-left: 40px;
  }
}
@keyframes cardAnimation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 0.5s 2s forwards;
  transform-origin: center;
}

.loader-icon {
  width: 48px;
  height: 48px;
  border: 5px solid #f6f6f6;
  border-bottom-color: #9356dc;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
/********** pages **********/
.location {
  display: flex;
  background: #eaeaea;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.location__icon {
  height: 19px;
}
.location__search {
  background: transparent;
  border: none;
  font-size: 16px;
  width: 150px;
}
.location__search::placeholder {
  color: #353535;
  opacity: 1;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.introduction {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  height: auto;
  align-items: center;
  gap: 20px;
}
.introduction__titre {
  padding-top: 39px;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}
.introduction__blabla {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: #353535;
}

.functioning {
  display: flex;
  flex-direction: column;
  background: white;
  height: 460px;
  padding: 0 20px;
}
.functioning__title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 48px;
  padding-bottom: 30px;
}
.functioning__tuto {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 0 20px;
}
.functioning__tuto--slide {
  display: flex;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding-top: 27px;
  padding-bottom: 27px;
  line-height: normal;
  min-width: 260px;
}

.slide__number {
  display: flex;
  width: 24px;
  height: 24px;
  font-size: 14px;
  flex-shrink: 0;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: relative;
  right: 13px;
}

.slide__icon {
  padding-right: 27px;
  padding-left: 10px;
}

.slide__txt {
  font-size: 16px;
  font-weight: 600;
}

.restoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  height: 100%;
  padding: 60px 18px;
  gap: 20px;
}
.restaurant__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.restaurant__container {
  position: relative;
  max-width: 500px;
  min-width: 260px;
}
.restaurant__container--emptyheart {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  left: 86%;
  top: 78%;
}
.restaurant__container--emptyheart:focus {
  opacity: 0;
}
.restaurant__container--fullheart {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  left: 86%;
  top: 78%;
}
.restaurant__container--fullheart:focus {
  opacity: 1;
  outline: none;
}
.restaurant__container__space {
  display: flex;
  position: relative;
}
.restaurant__card {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 20px;
  background: white;
  height: 250px;
  overflow: hidden;
  width: 100%;
  min-width: 260px;
  max-width: 500px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.restaurant__card--new {
  display: grid;
  width: 80px;
  height: 29px;
  place-items: center;
  font-weight: 600;
  font-size: 15px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #99e2d0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 5%;
  left: 72%;
}
.restaurant__card--img {
  height: 70%;
  object-fit: cover;
}
.restaurant__card--title {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 16px;
  padding-top: 15px;
}
.restaurant__card--txt {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  padding-left: 16px;
  padding-top: 5px;
}

@media all and (min-width: 540px) {
  .functioning {
    margin: 0 auto;
    align-items: center;
  }
  .functioning__tuto--slide {
    width: 322px;
  }
  .restoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .restaurant {
    align-items: center;
  }
  .restaurant__card {
    width: auto;
    width: 490px;
  }
  .restaurant__card--new {
    left: 80%;
  }
  .restaurant__container--emptyheart {
    left: 89%;
  }
  .restaurant__container--fullheart {
    left: 89%;
  }
}
@media all and (min-width: 1100px) {
  .introduction {
    gap: 35px;
  }
  .introduction__titre {
    font-size: 40px;
  }
  .functioning {
    padding: 50px 0;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .functioning__title {
    display: flex;
    width: 1050px;
    padding-top: 0px;
    align-items: normal;
  }
  .functioning__tuto {
    flex-direction: row;
    justify-content: center;
  }
  .restaurant {
    align-items: flex-start;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
  .restaurant__title {
    padding-top: 30px;
    width: 1034px;
  }
}
.main-pages {
  display: flex;
  flex-direction: column;
  background: white;
}
.main-pages__container-img {
  position: relative;
  height: 243px;
  width: 100%;
}
.main-pages__img {
  position: absolute;
  height: 275px;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.container-pages {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 32px 32px 0 0;
  flex-shrink: 0;
  padding: 0 15px;
  gap: 45px;
  z-index: 1;
}
.container-pages__name {
  margin-top: 32px;
}
.container-pages__name--titre {
  display: flex;
  position: relative;
  font-size: 28px;
  font-family: "Shrikhand", serif;
  width: 320px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container-pages__name--emptyheart {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  right: 0;
}
.container-pages__name--emptyheart:focus {
  opacity: 0;
}
.container-pages__name--fullheart {
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  right: 0;
}
.container-pages__name--fullheart:focus {
  opacity: 1;
  outline: none;
}
.container-pages__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container-pages__menu--title {
  margin-bottom: 8px;
}
.container-pages__menu--title-border {
  padding-bottom: 4px;
  border-bottom: solid 3px #99e2d0;
}
.container-pages__menu--cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container-pages__btn {
  width: 186px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: white;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 634px;
}
.card:nth-child(2) {
  animation: ease-in-out 0.6s cardAnimation;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
.card:nth-child(3) {
  animation: ease-in-out 0.6s cardAnimation;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
.card:nth-child(4) {
  animation: ease-in-out 0.6s cardAnimation;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
.card:nth-child(5) {
  animation: ease-in-out 0.6s cardAnimation;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.card__text-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 63%;
  padding-left: 10px;
}
.card__text-content--dish {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card__text-content--txt {
  position: relative;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card__checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.card__price {
  display: flex;
  align-items: end;
  transform: translateX(60px);
  transition: transform 0.4s;
}
.card__checkbox:checked + .card__price {
  transform: translateX(0);
}
.card__price--euro {
  font-weight: 700;
  line-height: normal;
  color: #353535;
  margin-bottom: 13px;
  margin-right: 10px;
}

@media all and (min-width: 540px) {
  .container-pages {
    align-items: center;
  }
  .container-pages__name {
    margin-top: 51px;
  }
  .card {
    width: 510px;
  }
}
@media all and (min-width: 1100px) {
  .main-pages {
    align-items: center;
  }
  .main-pages__container-img {
    height: 368px;
  }
  .main-pages__img {
    height: 400px;
  }
  .container-pages {
    width: 1055px;
  }
  .card {
    width: 634px;
  }
}
/********** Code **********/
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  max-width: 1410px;
  margin: 0 auto;
}